body {
    background-color: grey;
}

.container-fluid {
    display: flex;
    margin: 200px 0 0 200px;
}

.heading {
    display: flex;
    position: absolute;
    margin: -80px 0 0 200px;
}

.btn-push {
    width: 200px;
    height: 100px;
    font-size: 30px;
    background-color: white;
    border-color: black;
}

.btn-push:hover {
    background-color:burlywood;
}

.operation {
    display: flex;
    width: fit-content;
    margin-top: 10px;
    margin-left: 200px;
    font-size: 35px;
    background-color: aliceblue;
    border: 2px solid darkslategrey;
}